:root {
    --light-gray: #FAF9F9;
    --light-blue: #494949;
    --dark-blue: #f8790a;
    --gray: #656C86;
    --black: #333333;
    --background-color-gray: #F5F5F5;
}

body {
    font-family: 'Inter', sans-serif;
}

main {
    background-color: var(--background-color-gray);
}

/*------------- HEADER -------------*/

header {
    width: 100%;
}

h1 {
    color: var(--black);
    font-size: 2rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray)
}

.container {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: relative;
}

.navigation-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navigation-menu__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 100%;
    margin-right: 30px;
}

.navigation-menu__link {
    color: var(--gray);
}

.session-menu__link {
    padding: 16px 24px;
    color: var(--gray);
}

.session-menu__link--register {
    background-color: var(--dark-blue);
    color: var(--light-gray);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 10px rgba(16, 24, 40, 0.08);
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.session-menu__link--register:hover {
    opacity: 0.8;
}

@media screen and (max-width: 769px) {
    .navigation-menu .navigation-menu__link, 
    .session-menu {
        display: none;
    }
}

/*------------- DROP DOWN MENU -------------*/

.drop {
    display: none;
}

.drop__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.drop__menu-image {
    padding: 1em;
}

.menu-list {
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
    color: var(--light-gray);
}

.drop__button:checked~.menu-list {
    display: block;
}

.menu-list__item {
    padding: 2em;
    background-color: var(--background-color-light-red);
}

.menu-list__item:hover {
    background-color: var(--main-color);
}

.menu-list__item:hover>.navigation-menu__link  {
    color: #FFFFFF;
}

.menu-list__item:hover>.session-menu__link--login {
    color: #FFFFFF;
}

.menu-list__item:hover>.session-menu__link--register {
    background-color: #FFFFFF;
    color: var(--light-gray)
}

.drop__button {
    display: none;
}

@media screen and (max-width: 768px) {
    .drop {
        display: block;
    }
}

@media screen and (max-width: 375px) {
    .menu-list--session {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .session-menu__link--register {
        width: 75px;
    }
}

/*------------- FOOTER -------------*/

footer {
    background-color: #1A1C20;
    padding-top: 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer__copyright {
    font-size: 1rem;
    color: var(--light-gray);
    padding: 1.75rem 0 1.75rem 0;
    border-top: 1px solid var(--light-gray);
}